<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
</body>
</html>




<form>
    <fieldset>
        <legend>Employee entry form</legend>
        <label for="name">Name</label>
        <input type="text" id="name" name="name" value="name" placeholder="Enter name">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" value="email" placeholder="Enter email">
        <label for="etype">Employee Type</label>
        <input type="text" id="etype" name="etype" value="etype" placeholder="Enter etype">
        <label for="hrate">Hourly Rate</label>
        <input type="text" id="hrate" name="hrate" value="hrate" placeholder="Enter hrate">
        <label for="thour">Hourly Rate</label>
        <input type="text" id="thour" name="thour" value="thour" placeholder="Enter thour">
    </fieldset>
</form>

<form>
    <label for="name">By Name</label>
    <input type="text" id="name" name="filtername"  placeholde="search by name">
    <label for="email">By Email</label>
    <input type="text" id="email" name="filteremail"  placeholder="search by email">
    <label for="etype">By Employee Type</label>
    <input type="text" id="etype" name="filteretype" placeholder="search by employee type">
    <input type="button" type="submit" value="submit" name="submit">
</form>