<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <a id="home" href="/">Home page</a>
    <h1><%= title %></h1>
    <% if(success !== ''){ %>
        <div id="success">
            <strong> Success! </strong><%= success %>
        </div>
    <% } %>
    <p>Welcome to <%= title %></p>
 
    <div class="eform">
      <form  action="/upload" method="post" enctype="multipart/form-data">
        <fieldset>
            <legend>Upload form</legend>
            <div class="form-group">
                <label for="file">Upload File</label>
                <input type="file" id="file" name="file" placeholder="Upload file">
            </div>
                <input class="btn" type="submit" type="button" name="submit" value="submit form">
        </fieldset>
     </form>
    </div>
  </body>
</html>
