

    </div>
    <footer>
        <div id="desc">
            <h3>Nothing is imposible</h3>
            <p>This is simple database management system web application. If you love our website plese share and connect with me form better experience</p>
        </div>
        <div>
            <img id="farukImg" src="/images/faruk.jpg">
        </div>
         <div id="right">
            <p>copyright &copy; 2010-2019</p>
        </div>
       
    </footer>
    
    <script src='/javascripts/script.js'></script>
</body>
</html>
